{% extends 'base.html' %}
{% block title %}
Stores
{% endblock %}
{% block content %}
<h1>Stores</h1>
<div>
  <a href="{{ url_for('stores_routes.store_clean_data') }}">Clean Database</a>
</div>
<div>
  <a href="{{ url_for('stores_routes.calculate_lat_long') }}">Calculate Latitude and Longitude</a>
</div>

{% if message %}
<h3>{{ message }}</h3>
{% endif  %}

<table>
  <tr>
    <th>Store Name</th>
    <th>Postcode</th>
    <th>Latirude</th>
    <th>Longitude</th>
  </tr>
    {% for store in stores %}
    <tr>
        <td>{{ store.name }}</td>
        <td>{{ store.postcode }}</td>
        <td>{{ store.latitude }}</td>
        <td>{{ store.longitude }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
